<section class="vh-100 gradient-custom">
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div>
                        <div id="eye" class="position-absolute pt-3 px-4" style="font-size: 25px;">
                            <a href="#!/forgotpassword" style="color: white;"><i class="bi bi-arrow-left"></i></a>
                        </div>
                    </div>
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-2">
                            <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
                            <p class="text-white-50 mb-5">Code đã được gửi đến email của bạn </p>
                            <div class=" mb-3 ">
                                <input type="email" class="form-control bg-dark text-white changecolor" id="floatingInput"
                                    placeholder="Code" style="height: 50px; font-size: medium;">
                            </div>
                            <button class="btn btn-outline-light btn-lg px-5 mt-3" type="submit" ng-click="next(3)">Next</button>
                        </div>
                        <div>
                            <p class="mb-0">Bạn vẫn chưa nhận được? <a href="#!" class="text-white-50 fw-bold">Gửi lại</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="js/app.js"></script>