<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="videos row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
    <!-- a video starts -->
    <div ng-repeat="v in videos" class="video col">
        <div class="thumbnail">
            <img src="/video/poster/{{v.id}}" alt="" />
        </div>

        <div class="details">
            <div class="author">
                <img src="/user/avatar/{{v.id}}"
                     alt="" />
            </div>
            <div class="title">
                <h3>
                    {{v.title}}
                </h3>
                <a href="">
                    {{user.name}}
                </a>
                <span> {{v.views}} • {{v.dateUpload}} </span>
            </div>
        </div>
    </div>


    <!-- a video Ends -->
</div>
</body>
</html>