<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script> -->
<div class="videos w-100 row row-cols-xl-3 row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-1 p-4  ">
    <!-- a video starts -->
    <div ng-repeat="v in videos track by $index" class="col bg-black shadow p-lg-2 p-md-3 p-sm-4 p-5">
        <a href="#!videoDetail?videoId={{v.id}}" class="card bg-black">
            <img id="th" class="card-img-top" src="video/poster?videoId={{v.id}}" alt="" height="170px">
            <div class="card-body details d-flex">
                <div class="author">
                    <img class="rounded-circle" src="" alt="" />
                </div>
                <div class="title text-white">
                    <h3 class="text-white fw-bold">
                        {{v.title}}
                    </h3>
                    <a href="">
                        {{user.fullName}}
                    </a>
                    <span>{{v.views | viewNumber}} lượt xem</span>
                    <span>{{relativeTimeFilter(v.uploadDate)}}</span>
                </div>
            </div>
        </a>
    </div>

    <!-- a video Ends -->

</div>