<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script> -->
<div class="justify-content-center">
  <div>
    <h1 class="text-white">Chanel content</h1>
    <div class="d-flex justify-content-end">
      <div class="form-group me-5">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadVideo">Upload
          video</button>
      </div>
    </div>
    <hr>
  </div>

  <table class="table table-bordered table-hover text-white" style="text-align: center;">
    <thead>
      <tr>
        <th>#</th>
        <th>Ảnh</th>
        <th>Tiêu đề</th>
        <th>Ngày đăng</th>
        <th>Lượt xem</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" name="" id=""></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal fade " id="uploadVideo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Upload video</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark">
        <div class="row justify-content-center p-0">
          <div class="col-md-11">
            <h1 class="text-center mb-5">Upload Video</h1>
            <form>
              <div class="form-group">
                <label class="text-white" for="videoTitle">Title</label>
                <input type="text" class="form-control" id="videoTitle" name="videoTitle"
                  placeholder="Enter video title">
              </div>
              <div class="form-group">
                <label class="text-white" for="videoDescription">Description</label>
                <textarea class="form-control" id="videoDescription" name="videoDescription"
                  placeholder="Enter video description"></textarea>
              </div>
              <div class="form-group mt-2">
                <label class="text-white" for="videoFile">Choose video file</label>
                <input type="file" class="form-control-file text-white" id="videoFile" name="videoFile">
              </div>
              <div class="form-group mt-2">
                <label class="text-white" for="videoFile">Choose video thumbnail</label>
                <input type="file" class="form-control-file text-white" id="videoThumbnailFile"
                  name="videoThumbnailFile">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>