<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</head>
<body> -->
<div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-1 p-4">
    <div class="col col-lg-9 col-md-9 col-sm-12 col-12">
        <video autoplay id="plyr-video" style=" --plyr-color-main: red;
         --plyr-captions-text-color: #2e323c; --plyr-badge-text-color:#2e323c; " class="w-100" controls>
            <source ng-src="{{videoUrl}}" type="video/mp4">
            <source src="" type="video/webm">
        </video>
        <div class="w-100 text-white bg-dark-subtle rounded-4 p-3 mt-3">
            <h2 class="fw-bold">
                {{video.title}}
            </h2>
            <div class="d-flex ">
                <div class="me-auto d-flex">
                    <div class="author">
                        <img class="rounded-circle" ng-src="{{'api/user/loadAvatar?userId=' +video.user.id}}" ng-err-src="images/free-youtube-icon-123-thumb.png" alt="" />
                    </div>
                    <div class="d-flex flex-column">
                        <span class="fw-bold fs-5 text-black-50">{{video.user.username}}</span>
                        <!-- <span>{{relativeTimeFilter(v.dateUpload)}}</span> -->
                    </div>
                    <button class="btn btn-light text-black rounded-5 ms-2">Đăng ký</button>
                </div>
                <div class="ms-auto">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input ng-model="checkbox1" ng-click="likeVideo(1)" type="checkbox" class="btn-check" name="isLike" id="likeBtn" autocomplete="off">
                        <label class="btn btn-outline-dark rounded-start-pill" for="likeBtn"><i
                                class="fa-regular fa-thumbs-up"></i>
                            <!-- lượt like -->
                            {{likeCount(true)}}
                        </label>
                        <input ng-model="checkbox2" ng-click="likeVideo(2)" type="checkbox" class="btn-check" name="isLike" id="disLikeBtn" autocomplete="off">
                        <label class="btn btn-outline-dark" for="disLikeBtn"><i class="fa-regular fa-thumbs-down"></i>
                            <!-- dislike -->
                            {{likeCount(false)}}
                        </label>
                    </div>
                    <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#shareModal">
                        <i class="bi bi-share"></i>
                        <span> Share</span>
                    </button>
                    <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModal"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Share this video to your friend
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="email" placeholder="Your friends email">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Share</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rounded-4 w-100 mt-2 bg-darkbg-opacity-50 p-3 text-white text-black">
            <div class="d-flex">
                <!-- lượt bình luận -->
                <span></span>

            </div>
            <!-- user bình luận -->
            <form ng-if="user" method="post" class="d-flex w-100">
                <div class="author">
                    <img class="rounded-circle" ng-src="{{'api/user/loadAvatar?userId='+user.id}}" ng-err-src="images/free-youtube-icon-123-thumb.png" alt="" />
                </div>
                <div class="w-100">
                    <div class="form-floating ms-1 w-100">
                        <textarea ng-model="userCommentValue" class="form-control w-100 text-black"
                            placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">

                        </textarea>
                        <label class="text-black" for="floatingTextarea2">Comments</label>
                    </div>
                    <div class="border-top mt-2 pt-md-2 w-100 text-end">
                        <button type="button" class="btn btn-light" ng-click="userCommentValue=null">Cancel</button>
                        <button ng-class="{'disabled': !userCommentValue}" type="button"
                            ng-click="sendCommentToVideo(userCommentValue,video.id,user.id); userCommentValue=null;"
                            class="btn btn-light ">Comment</button>
                    </div>
                </div>

            </form>
            <div class="comments p-2 text-white">
                <div ng-repeat=" c in comments" class="d-flex  p-2" ng-init="isRepliesCollapsed[$index] = false; ">
                    <div class="author">
                        <img class="rounded-circle" src="api/user/loadAvatar?userId={{c.user.id}}" alt="" />
                    </div>
                    <div class="d-flex flex-column ms-1 w-100">
                        <div>
                            <!-- tên người bình luận -->
                            <span class="fw-bolder text-white">{{c.user.username}}</span>
                            <!-- thời điểm bình luận -->
                            <span class="text-secondary">{{relativeTimeFilter(c.commentDate)}}</span>
                        </div>
                        <div>
                            <!-- bình luận  -->
                            <p class="fw-bold text-white">
                                {{c.commentText}}
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-outline-secondary rounded-circle border-0">
                                <i class="fa-regular fa-thumbs-up"></i>
                            </button>
                            <button class="btn btn-outline-secondary rounded-circle border-0">
                                <i class="fa-regular fa-thumbs-down"></i>
                            </button>
                            <button class="btn btn-outline-light rounded-4 fs-6 border-0" data-bs-toggle="collapse"
                                data-bs-target="#collapseParentComment{{$index}}" aria-expanded="false"
                                aria-controls="#collapseParentComment{{$index}}">
                                Phản hồi
                            </button>
                        </div>
                        <form ng-if="user" method="post" class="w-100 collapse mt-2" id="collapseParentComment{{$index}}">
                            <div class="w-100">
                                <div class="form-floating ms-1 w-100">
                                    <textarea ng-model="userCommentValue" class="form-control w-100 text-black"
                                        placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">

                                    </textarea>
                                    <label class="text-black" for="floatingTextarea2">Comments</label>
                                </div>
                                <div class="border-top mt-2 pt-md-2 w-100 text-end">
                                    <button type="button" class="btn btn-light"
                                        ng-click="userCommentValue=null">Cancel</button>
                                    <button ng-if="$rootScope.user" ng-class="{'disabled': !userCommentValue}" type="button"
                                        ng-click="sendChildrenCommentToVideo(userCommentValue,video.id,user.id,c.commentId); userCommentValue=null;"
                                        class="btn btn-light ">Comment</button>
                                    <button ng-if="!$rootScope.user" type="button" data-toggle="modal" data-target="#loginModal" class="btn btn-light">Comment</button>
                                </div>
                            </div>

                        </form>
                        <div ng-if="loadChildrenComments(c.commentId).length >0">
                            <button class="btn btn-outline-light rounded-4 fs-6 border-0 text-primary " type="button"
                                data-bs-toggle="collapse" data-bs-target="#repleComment{{$index}}" aria-expanded="false"
                                aria-controls="#repleComment{{$index}}"
                                ng-click="isRepliesCollapsed[$index] = !isRepliesCollapsed[$index];">
                                <i
                                    ng-class="{'bi-chevron-down': isRepliesCollapsed[$index], 'bi-chevron-up': !isRepliesCollapsed[$index]}"></i>
                                <span class="text-primary fs-6"> {{loadChildrenComments(c.commentId).length}} phản
                                    hồi</span>
                            </button>
                            <div class="collapse p-2" ng-attr-id="repleComment[$index]"
                                ng-class="{'show': isRepliesCollapsed[$index]}">
                                <div class="d-flex   ms-1" ng-repeat="cdm in loadChildrenComments(c.commentId)">
                                    <div class="author">
                                        <img class="rounded-circle" src="api/user/loadAvatar?userId={{cdm.user.id}}"
                                            alt="" />
                                    </div>
                                    <div class="d-flex flex-column ms-1 w-100">
                                        <div class="">
                                            <!-- tên người bình luận -->
                                            <span class="fw-bolder text-white">{{cdm.user.username}}</span>
                                            <!-- thời điểm bình luận -->
                                            <span class="text-secondary">{{relativeTimeFilter(cdm.commentDate)}}</span>

                                        </div>
                                        <div>
                                            <!-- bình luận  -->
                                            <p class="fw-bold text-white">
                                                {{cdm.commentText}}
                                            </p>
                                        </div>
                                        <div>
                                            <button class="btn btn-outline-secondary rounded-circle border-0">
                                                <i class="fa-regular fa-thumbs-up"></i>
                                            </button>
                                            <button class="btn btn-outline-secondary rounded-circle border-0">
                                                <i class="fa-regular fa-thumbs-down"></i>
                                            </button>
                                            <button class="btn btn-outline-light rounded-4 fs-6 border-0" data-bs-toggle="collapse"
                                            data-bs-target="#collapseChildrenComment{{$index}}" aria-expanded="false"
                                            aria-controls="#collapseChildrenComment{{$index}}" ng-click="userCommentValue= '@'+ cdm.user.username+' '">
                                                Phản hồi
                                            </button>
                                        </div>
                                        <form ng-if="user" method="post" class="w-100 collapse mt-2" id="collapseChildrenComment{{$index}}">
                                            <div class="w-100">
                                                <div class="form-floating ms-1 w-100">
                                                    <textarea  ng-model="userCommentValue" class="form-control w-100 text-black"
                                                        placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">

                                                    </textarea>
                                                    <label class="text-black" for="floatingTextarea2">Comments</label>
                                                </div>
                                                <div class="border-top mt-2 pt-md-2 w-100 text-end">
<!--                                                    <button type="button" class="btn btn-light"-->
<!--                                                        ng-click="userCommentValue=null">Cancel</button>-->
<!--                                                    <button ng-class="{'disabled': !userCommentValue}" type="button"-->
<!--                                                        ng-click="sendCommentToVideo(userCommentValue,video.id,video.user.id); userCommentValue=null;"-->
<!--                                                        class="btn btn-light ">Comment</button>-->
                                                    <button type="button" class="btn btn-light"
                                                            ng-click="userCommentValue=null">Cancel</button>
                                                    <button ng-class="{'disabled': !userCommentValue}" type="button"
                                                            ng-click="sendChildrenCommentToVideo(userCommentValue,video.id,user.id,c.commentId); userCommentValue=null;"
                                                            class="btn btn-light ">Comment</button>
                                                </div>
                                            </div>
                
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="d-flex flex-column col col-lg-3 col-md-3 col-sm-12 col-12 mt-3 mt-lg-0 mt-md-0 mt-sm-0 ">
        <!--        <div ng-repeat="v in videos" class=" bg-black shadow p-lg-3 p-md-3 p-sm-4 p-5">-->
        <!--            <a href="#!videoDetail?videoId={{v.id}}" class="card bg-black">-->
        <!--                <img id="th" class="card-img-top" src="video/poster?videoId={{v.id}}" alt="" height="170px">-->
        <!--                <div class="card-body details d-flex">-->
        <!--                    <div class="author">-->
        <!--                        <img class="rounded-circle" src="api/user/loadAvatar?userId={{v.user.id}}" alt="" />-->
        <!--                    </div>-->
        <!--                    <div class="title text-white">-->
        <!--                        <h3 class="text-white fw-bold">-->
        <!--                            {{v.title}}-->
        <!--                        </h3>-->
        <!--                        <a href="">-->
        <!--                            {{v.user.username}}-->
        <!--                        </a>-->
        <!--                        <span>{{v.views | viewNumber}} lượt xem</span>-->
        <!--                        <span>{{relativeTimeFilter(v.uploadDate)}}</span>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </a>-->
        <!--        </div>-->
    </div>
</div>
<style>
    .plyr {
        height: 450px;
    }

    .plyr__control span {

        color: rgb(62, 60, 60);

    }
</style>
<!-- </body>
</html> -->