@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}
#companyName{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
    
}

main{
  height: calc(100vh - 60px);
  
}


.side-bar {

    
    /* flex-basis: 250px; */
}



.left {
    display: flex;
    align-items: center;
}

.left #menu {
    padding: 0 7px;
    cursor: pointer;
}





input:focus {
    outline: none;
    border: 1px solid #ddd;
}

.material-icons {
    color: rgb(255, 255, 255);
    padding: 0 7px;
    cursor: pointer;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.nav-link span {
    margin-left: 15px;
}

.nav-link:hover {
    background: #727171;
    cursor: pointer;
}

.active {
    background: #727171;
}

hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}




.author img {
  object-fit: cover;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.author-mini img{
    object-fit: cover;
    height: 25px;
    width: 25px;
}
/* .thumbnail {
    width: 100%;
    height: 170px;
  }
  
  .thumbnail img {
    object-fit: cover;
    height: 94%;
    width: 100%;
  }
  .author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  } */
  .details {
    display: flex;
  }
   
  .title {
    display: flex;
    flex-direction: column;
  }
   
  .title h3 {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
  }
   
  .title a,
  span {
    text-decoration: none;
    color: rgb(239, 231, 231);
    font-size: 12px;
  }
  .bottom-bar{
    display: none;
  }
  .dropdown-item{
    color: #e5e5e5;

  }
  .dropdown-item:hover{
    background-color: black;
    color: #e5e5e5;
  }
  .changecolor::placeholder {
    color: white;
  }
  .reply-rate{
    position: relative;
    display: flex;
    align-items: center;
    /* padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x); */
    font-size: 1rem;
    /* color: var(--bs-accordion-btn-color); */
    text-align: center;
    /* background-color: var(--bs-accordion-btn-bg); */
    border: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
  }
  @media (max-width: 768px) {
    .side-bar {
      display: none;
    }
    .bottom-bar{
        display: flex;
    }
    /* .search {
      display: none;
    } */
    #menuHamburger{
      display: none;
    }
}
@media (max-width: 575.20px) {
    #thumbnailVideoHome{

    }
    
  
  }
  @media (max-width: 1044px) {
    .nav-link{
    
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px 25px;
    }
  }